
<section class="bottom-home">
    <div class="bottom-home__header">
        <h3 class="channel-title">精選話題<i>熱</i></h3>
    </div>
    <ul class="bottom-home__list">
        <li class="item">
            <a href="">
                <img src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01cjtwdtMY9/vOmsMitEMiFJmW.jpg">
            </a>
        </li>
        <li class="item">
            <a href="">
                <img src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01cjtwdtMY9/vOmsMitEMiFJmW.jpg">
            </a>
        </li>
    </ul>
    <div class="more">更多精彩專題>></div>
</section>