
<div class="shelf">
    <div class="shelf__top">
        <div class="shelf__switch"></div>
        <a href="/search">
            <div class="shelf-search">输入书名/作者/关键字</div>
        </a>
    </div>
    <ul class="book-list">
        <li class="list image-list">
            <a>
                <div class="list-cover">
                    <img alt="盗墓笔记" src="http://cover.read.duokan.com/mfsv2/download/s010/p01yfPOuJRok/dQJSYfAnD3AB42.jpg!s">
                </div>

                <div class="list_content">
                    <h3 class="book-title">盗墓笔记</h3>
                    <p class="book-author">
                        南派三叔
                    </p>
                    <div class="wrap">
                        <p>最新:《后记》</p>
                    </div>
                </div>
            </a>
        </li>
        <li class="list image-list">
            <a>
                <div class="list-cover">
                    <img alt="盗墓笔记" src="http://cover.read.duokan.com/mfsv2/download/s010/p01yfPOuJRok/dQJSYfAnD3AB42.jpg!s">
                </div>

                <div class="list_content">
                    <h3 class="book-title">盗墓笔记</h3>
                    <p class="book-author">
                        南派三叔
                    </p>
                    <div class="wrap">
                        <p>最新:《后记》</p>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>


