
<section class="recommend-home">
    <div class="recommend-home__header">
        <h3 class="channel-title">重磅推荐<i>推</i></h3>
        <div class="channel-tab">
            <a href="javascript:">男</a>
            <a href="javascript:">女</a>
        </div>
    </div>
    <ul class="recommend-home__list">
        <li class="list img_list" v-for="item in recommend" v-if="$index==0">
            <a href="/book?id={{item.fiction_id}}">
                <div class="list_cover">
                    <img alt={{item.title}} v-bind:src="item.cover">
                    <p class="book-finish">完结</p>
                </div>
                <div class="list_content">
                    <h3 class="book-title">{{item.title}}</h3>
                    <p class="book-author">{{item.authors}}</p>
                    <p class="book-desc">{{item.summary}}</p>
                    <div class="book_tag">
                        <em v-for="tag in item.tags">{{tag}}</em>
                    </div>
                </div>
            </a>
        </li>
        <li class="list text_list" v-for="item in recommend" v-if="$index>0&&$index<9">
            <a href="/book?id={{item.fiction_id}}">
                <div class="list_content">
                    <span class="list_num">
                        {{$index}}
                    </span>
                    <h3 class="book-title">{{item.title}}</h3>
                </div>
            </a>
        </li>
    </ul>
</section>